.ao0 {
    opacity: 0.5;
    width: 100%;
}

.gD, .go {
    color: #ffffff;
}

.gt a {
    color: #00ffff;
}

.hP, .im {
    color: #ffffff;
}

.iA, .hb {
    color: #aaaaaa;
}

.nH {
    background-color: transparent;
    color: #ffffff;
}

.xT b {
    color: #00ffff;
}

.xY {
    color: #00ffff;
}

.y2 {
    color: #999999;
}

.y6 {
    color: #dddddd;
}

.yW {
    color: #ffffff;
}

.zF {
    color: #00ffff;
}

div.u5.FDerDe,.nH.PS,div.z0DeRc,div.mq,table.Bs.nH.iY tr td.Bu:last-child {
    display: none;
}

td.Bu {
    background-color: rgba(255,255,255,0);
}

tr.zA, .nr, .G3, .cf {
    background-color: transparent;
}

